.background {
    background-image: url(../../assets/authentication_bg.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}